{% extends 'layout.html' %}

{% block content %}

<h3>Issued credentials:</h3>

<h3>Credentials issued in wallet:</h3>

{% for record in records %}
    {% if record['cred_ex_record']['state'] != "done" %}

    <div class="container_{{ record['indy']['cred_ex_id'] }}">
        <h4>cred_ex_id: {{ record['indy']['cred_ex_id'] }}</h4>
        <table>
            <thead>
                <tr>
                    {% for attrib in record['cred_ex_record']['cred_offer']['credential_preview']['attributes'] %}
                        <td>{{ attrib['name'] }}</td>
                    {% endfor %}
                    <td>State</td>
                </tr>
            </thead>
            <tbody>
            <thead>
                <tr>
                    {% for attrib in record['cred_ex_record']['cred_offer']['credential_preview']['attributes'] %}
                        <td>{{ attrib['value'] }}</td>
                    {% endfor %}
                    <td>{{ record['cred_ex_record']['state'] }}</td>
                </tr>
            </thead>
            </tbody>
        </table>

        <form action="{{ url_for('store_credentials_in_wallet') }}" method="POST">
            <input type="hidden" id="cred_ex_id" name="cred_ex_id" value="{{ record['indy']['cred_ex_id'] }}">
            <input type="submit" value="Store credentials in Wallet">
        </form>

    </div>

{% endif %}

{% endfor %}

{% endblock %}
